# Node JS Libraries
/node_modules

# Remix Build Cache
/.cache

# Remix Pages Build
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map

# Remix Client Build
/public/build

# Remix Kawaii Routes
/remix-routes.d.ts

# ----
*.log
.DS_Store