{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "remix-kawaii"
  ],
  "settings": {
    "next": {
      "rootDir": [
        "packages/*/"
      ]
    }
  }
}